node_modules
.pnpm-store
.DS_Store
.env
.env.*
!.env.example
dist
build
coverage
*.log
.vscode
.idea
.expo
android/build
pnpm-lock.yaml
packages/*/dist
packages/*/build
packages/*/.turbo
packages/*/.vite
